extends layout

block content
	h1 Ice Cream - Catalogo en Linea

	h3 Contenido Referecias
	nav
		ul
			a(href="/docs/all")
				li Documentación General
			a(href="/docs/search")
				li Lectura de helado específico
			a(href="/docs/create")
				li Creación de helado
			a(href="/docs/delete")
				li Eliminar helados
			a(href="/docs/update")
				li Actualizar info por ID


