extends layout

block content
	h1 Add elements

	form(action="icecream/4",method="post")
		label(for="sabor") ¿Qué sabor?
		br
		input(name="sabor",type="text",placeholder="")
		br

		label(for="tamanio") ¿Qué tamaño de cono es?
		br
		input(name="tamanio",type="text",placeholder="")
		br

		label(for="precio") ¿Cuanto costará?
		br
		input(name="precio",type="number",placeholder="")
		br

		label(for="decoracion") ¿Que decoración contiene?
		br
		input(name="decoracion",type="text",placeholder="")
		br

		input(type="submit")